@import "styles/header";
@import "styles/what-we-do";
@import "styles/our-projects";
@import "styles/pricing";
@import "styles/schelude-call";
@import "styles/testimonials";
@import "styles/faq";
@import "styles/footer";

:root {
  --text-color-primary: #5a5a5e;
  --text-color-primary-hover: black;
  --text-color-secondary: #fe6438;
  --text-color-secondary-20: #fe633833;
  --text-color-secondary-darker: #ef4e22;
  --text-color-secondary-lighter: #ffb19b;
  --tag-color: #97979b;
  --white: white;
  --title-gradient-start: #1d1d1f;
  --title-gradient-end: #78787d;
  --border-gray: #212121;
  --radio-border: #747d8c33;
  --gray-10: #f5f4f5;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

h2 {
  font: 700 4.8rem/5.5rem "Satoshi";
  background: linear-gradient(
    to right,
    var(--title-gradient-start),
    var(--title-gradient-end)
  );
  background-clip: text;
  color: transparent;
  align-self: center;
}

h3 {
  font: 700 2.2rem/2.4rem "Satoshi";
  background: linear-gradient(
    to right,
    var(--title-gradient-start),
    var(--title-gradient-end)
  );
  background-clip: text;
  color: transparent;
}

.section {
  position: relative;
}

.container {
  box-sizing: border-box;
  width: 100vw;
  padding: 0 18.2vw 0 18.2vw;

  &-relative {
    position: relative;
  }

  &-right {
    padding: 0 0 0 18.2vw;
  }
}

.button {
  &-primary {
    box-sizing: border-box;
    border-radius: 40px;
    cursor: pointer;
    padding: 0 1rem 0 1rem;

    background-color: transparent;
    border: 1px solid var(--text-color-secondary);
    color: var(--text-color-secondary);
    font: 700 1.8rem/2.4rem "Satoshi";

    &:hover {
      background-color: var(--text-color-secondary-20);
    }
  }

  &-secondary {
    box-sizing: border-box;
    border-radius: 40px;
    cursor: pointer;
    padding: 0 1rem 0 1rem;

    background-color: var(--text-color-secondary);
    border: none;
    color: var(--white);
    font: 700 1.8rem/2.4rem "Satoshi";

    &:hover {
      background-color: var(--text-color-secondary-darker);
    }
  }
}

.margin {
  &-top {
    &-8 {
      margin-top: 8.3rem;
    }

    &-18 {
      margin-top: 18.2rem;
    }

    &-20 {
      margin-top: 20rem;
    }
  }

  &-bottom {
    &-10 {
      margin-bottom: 10rem;
    }
  }
}

.bg {
  &-white {
    background-color: var(--white);
  }
}

.swiper {
  &-pagination {
    &-bullets {
      display: flex !important;
      gap: 1.2rem !important;
      width: fit-content !important;
      height: 5.4rem !important;
      align-items: center;
      background-color: rgba(245, 244, 245, 1);
      border-radius: 5.2rem;
      padding: 0 3.1rem 0 3.1rem;
    }

    &-bullet {
      height: 0.6rem !important;
      width: 0.6rem !important;
      margin: 0 0 0 0 !important;

      &-active {
        width: 2.4rem !important;
        border-radius: 2.4rem !important;
        background-color: var(--text-color-secondary) !important;
      }
    }
  }
}

.slider {
  margin: 4rem 0 4rem 0;

  &-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 20rem;
  }

  &-title-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  &-button-container {
    display: flex;
    gap: 1rem;
  }

  &__button {
    border: none;
    background-color: transparent;
    border-radius: 100%;
    width: 6rem;
    height: 6rem;

    &:hover {
      cursor: pointer;
      background-color: var(--text-color-secondary-20);
    }
  }
}

.info-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;

  &-info {
    max-width: 49.1rem;
    width: 100%;
    min-width: 46.8rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    flex-wrap: wrap;

    &__text {
      color: var(--text-color-primary);
      font: 500 1.8rem/2.5rem "Satoshi";
    }

    &-button-container {
      display: flex;
      gap: 1.1rem;
    }

    &__button {
      &-primary {
        height: 6rem;
        max-width: 30.5rem;
        width: 100%;
        min-width: fit-content;
      }

      &-secondary {
        height: 6rem;
        max-width: 17.5rem;
        width: 100%;
        min-width: fit-content;
      }
    }
  }

  &-image {
    width: 31vw;

    &-container {
      position: relative;
    }
  }
}

.decorative-element {
  position: absolute;
  z-index: -1;

  &__circle {
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 100%;
    filter: blur(60px);

    &-purple {
      background-image: radial-gradient(#ab3ef5, #ac3ef500);
    }

    &-green {
      background-image: radial-gradient(#6bc362, #72d07400);
    }

    &-orange {
      background-image: radial-gradient(#fe6438, #fe633800);
    }
  }
}

@media (max-width: 1280px) {
  .container {
    padding: 0 10vw 0 10vw;

    &-right {
      padding: 0 0 0 10vw;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    &-right {
      padding: 0 0 0 0;
    }
  }

  .info-block {
    flex-direction: column;

    &-image {
      width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .info-block {
    &-info {
      min-width: auto;
      &-button-container {
        flex-wrap: wrap;
      }
    }
  }
}

@media (max-width: 414px) {
  h2 {
    font: 700 3rem/3.3rem "Satoshi";
  }

  .container {
    padding: 0 2rem 0 2rem;

    &-right {
      padding: 0 0 0 0;
    }
  }
}
